body { 
	margin: 0;
	display: flex;
	align-items: center;
	height: 100vh;
}

svg {
	display: block;
	margin: 0 auto;
	max-width: 100vw;
	max-height: 100vw;
	animation: rotate 20s infinite linear;
}

@keyframes rotate {
	0%   { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}